{% extends 'Index/Base.html' %}
{% load static %}
{% block content %}
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'Index/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Index/style.css' %}">
        <title>Booking Detail</title>
    </head>
    <body>
    <div class="container" id="container_margin">
        <table class="table table-hover table-info">
            <tbody>
            <tr>
                <th>BOOKING ID</th>
                <td>{{ booking.booking_identity }}</td>
            </tr>
            <tr>
                <th>USER</th>
                <td>{{ booking.booking_user_identity.userprofile.user_name }}</td>
            </tr>
            <tr>
                <th>CLASSROOM</th>
                <td>{{ booking.booking_classroom_identity.classroom_name }}</td>
            </tr>
            <tr>
                <th>DATE</th>
                <td>{{ booking.booking_date }}</td>
            </tr>
            <tr>
                <th>TIME</th>
                <td>{{ booking.booking_time }}</td>
            </tr>
            <tr>
                <th>CATEGORY</th>
                <td>{{ booking.booking_category }}</td>
            </tr>
            <tr>
                <th>REASON</th>
                <td>{{ booking.booking_reason }}</td>
            </tr>
            <tr>
                <th>STATUS</th>
                <td>{{ booking.booking_status }}</td>
            </tr>
            </tbody>
        </table>
        <div class="row align-items-center justify-content-center">
            <form action="/Booking/Admin/Update/{{ booking.booking_identity }}" method="post">
                {% csrf_token %}
                <button class="btn btn-success" name="Approve" type="submit" value="Approve">APPROVE</button>
                <button class="btn btn-danger" name="Reject" type="submit" value="Reject">REJECT</button>
                <button class="btn btn-primary" name="Pending" type="submit" value="Pending">VERIFYING</button>
                <a class="btn btn-secondary" href="{% url 'Admin-View-Booking' %}">CANCEL</a>
            </form>
        </div>
    </div>
    </body>
{% endblock %}